*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.customer{
      width: 80%;
  height: 50px;
  padding-left: 20px;
  border-radius: 12px;
  background-color: transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  font-size: 16px;
  user-select: none;
  outline: none;
  color:darkblue;
  transition: 1s linear all;
}
.customer:focus {
    outline: none; /* Blue default outline ko hata deta hai */
    box-shadow: 0 0 8px rgba(135, 173, 229, 0.7);
    border: 2px solid rgb(135, 173, 229);
}
